<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>onFOSS-LAN</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/serverstats.css">
    <link rel="icon" href="/icon.svg" sizes="any" type="image/svg+xml">
    <link rel="alternate" type="application/rss+xml" title="{{ site.content.domain_name }}" href="/feed.xml">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/js/serverstats.js"></script>
  </head>
  <body>
    {% include nav.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-6 col-md-4">
          <h5>Live stats</h5>
          {% if site.content.offline %}
          {% include offline.html %}
          {% else %}
          {% include online.html %}
          {% endif %}
        </div>
      </div>
    </div>

  </body>
</html>
