---
layout: default
nav_pill: home
---
          <h1>About onFOSS-LAN</h1>
          <p>
            onFOSS-LAN is a online, "Free (as Freedom) and Open Source" LAN-Party
            hosted by {{ site.content.hosted_by_name }}. The goal is to get people together, enjoying the
            art of computer games and having a great time in these days. The FOSS
            community is a place of being open minded and acceptance to all
            different kinds of people with the focus of fully transparent systems
            and protecting individuals. So it does not matter if you are on Windows,
            Mac or Linux and it is also NOT necessary to have a PC MASTERRACE setup
            to run those games.
          </p>
          <p>This concept was originally started at <a href="https://onfoss.hribhrib.at/">hribhrib.at</a></p>
          <h1>Next event</h1>
          <h4>Saturday 17 December 2022, 14:00 UTC</h4>
          <script>var zone = new Date().toLocaleTimeString('en-ca',{timeZoneName:'short'}).split(' ')[2];d=new Date("Sat, 17 Dec 2022 14:00:00 UTC");document.writeln("<p>(Local time: "+d.toTimeString()+")</p>")</script>
          <p>See <a href="schedule.html">schedule</a> for more information.</p>
          <h1>Communication</h1>
          <p>We use Mumble voice chat on <a href="mumble://hribhrib.at">mumble://hribhrib.at</a>. It is the main mode of cummunication during the event.</p>
          <p>Matrix chat on <a href="https://matrix.to/&#35;/&#35;xmpp_onfoss_conference.hribhrib.at:matrix.org">#xmpp_onfoss_conference.hribhrib.at:matrix.org</a></p>
          <p>XMPP chat on <a href="xmpp:onfoss@conference.hribhrib.at?join">onfoss@conference.hribhrib.at</a></p>
          <p>See the <a href="help.html">help page</a> for more information on how to connect to these services.</p>
          <h1>Games</h1>
          <p>There are a few game servers running. To connect, simply start the game and connect to this domain. See also the <a href="help.html">Help</a> section for more information.</p>
          <table class="table">
            <tbody>
              {% assign sorted_games = site.data.games | sort: "title" %}
              {% for game in sorted_games %}
              <tr>
                <td><a href="help_{{ game.name }}.html"><img src="assets/img/{{ game.name }}.png" height="64" alt="Tiny screenshot of {{ game.title }}"></a></td>
                <td>{{ game.title }}</td>
                <td>
                  {{ game.description }}
                  {% if game.warning %}
                  <br><mark>Warning:</mark> {{ game.warning }}
                  {% endif %}
                </td>
                <td><a href="help_{{ game.name }}.html">More info</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>Enjoy!</p>
          <h1>Code</h1>
          <p>Code for setting up server is on <a href="https://git.libregaming.org/DeathByDenim/gameserver">git.libregaming.org</a> and is licensed under the AGPLv3 or later.</p>
