---
layout: default
nav_pill: schedule
---
          <h1>Schedule</h1>
          {% assign sitetime = site.time | date: "%FT%T" %}
          {% assign past = site.data.events | where_exp: "item", "item.date < sitetime" %}
          {% assign upcoming = site.data.events | where_exp: "item", "item.date >= sitetime" %}
          <h2>Upcoming</h2>
          {% for event in upcoming %}
          {% include event.html %}
          {% endfor %}
          <h2>Past</h2>
          {% for event in past %}
          {% include event.html %}
          {% endfor %}
